<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>842 - Search Results</title>
</head>

<body>
    
    <form action="/" method="post">
        <button type="submit">Go Back</button>
    </form>

    <h3>Your Query: {{q}}</h3>
    <p><i>Hover over the points to view more details</i></p>

    <h1>BM25-Normalized Search Results</h1>
    <p>Note: BM25 results have also been normalized to allow ease of comparison with the baseline model</p>
    <h4>There are {{n}} results</h4>
    <div id='bm_chart' class='chart'”></div>
    

    <h1>BM25-CTF-Normalized Search Results</h1>
    <h4>There are {{n}} results</h4>
    <div id='bm_ctf_chart' class='chart'”></div>
    

    <h1>Naive Bayes Search Results</h1>
    <h4>There are {{n}} results</h4>
    <div id='nb_chart' class='chart'”></div>
    
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
    var graphs = {{bm_graph | safe}};
    Plotly.plot('bm_chart',graphs,{});
</script>

<script type='text/javascript'>
    var graphs = {{bm_ctf_graph | safe}};
    Plotly.plot('bm_ctf_chart',graphs,{});
</script>

<script type='text/javascript'>
    var graphs = {{nb_graph | safe}};
    Plotly.plot('nb_chart',graphs,{});
</script>

</html>