<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>842 - A2</title>
</head>
<body>
    <h2>CPS 842 - Assignment 2</h2>
    <h3>By: Sakshi Padhiar & Majuth Kirakalprathapan</h3>
    <h4>BM25 Search</h4>
    <form action="bm25" method="post">
        <label for="query">Movies</label>
        <input type="text" id="query" name="user_query" placeholder="Search for movies">
    <button type="submit">BM 25 Search</button>
    </form>
    <h4>Naive Bayes Search</h4>
    <form action="naivebayes" method="post">
        <label for="query">Movies</label>
        <input type="text" id="query" name="user_query" placeholder="Search for movies">
    <button type="submit">NaiveBayes Search</button>
    </form>
    <h4>KMeans search available in terminal</h4>
</body>
</html>



    