<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>842 - Search Results</title>
</head>

<body>
    <h1>BM25 Search Results</h1>
    <form action="/" method="post">
        <button type="submit">Go Back</button>
    </form>
    <h4>Your Query: {{q}}</h4>
    <div id='chart' class='chart'”></div>
    <div id="output">
        <h2>There are {{n}} results</h2>

        <ul>
        {% for i in l %}
    
        <li>BM25 Ranking: {{r[i]}} <br> Title: {{t[i]}} <br> Overview: {{o[i]}}</li> <br>
        {% endfor %}
        </ul>
    </div>

</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{graph | safe}};
    Plotly.plot('chart',graphs,{});
</script>
</html>

